/* .App {
  font-family: sans-serif;
  text-align: center;
} */

nav{
  width:100%;
  background-color:black;
  display:flex;
  box-shadow:0px 10px 10px 0px;
}
nav .logo img{
  width:50px;
  border-radius:50%;
  margin:10px 0px;
  margin-left:100px;
}
.searchBar{
display:flex;
align-items:center;
color:white;
margin-left:30%
}
.searchBar input{
  margin-left:10px;
  background-color:black;
  outline:none;
  color:white;
  width:300px;
  border:none;
  border-bottom:2px solid rgb(36, 161, 156);
}
.user{
  display:flex;
  justify-content:end;
  margin-left:50px;
  width:58%;
  /* border:25px solid red; */
}
.userName{
  display:flex;
  align-items:center;
  margin-left:15%;
  /* border:5px solid red; */
}
.userName h3{
  color:white;
  margin-right:8px;
}
.userDetails{
  /* margin-right:50px;
  border:5px solid yellow; */
  border-radius:50%;
  display:flex;
  align-items:center;
}
.userPic{
  width:80px
}
.option{
  display:flex;
  align-items:end;
  margin-left:10px;
}
/* Pofile style */
.profileContainer{
  display:flex;
  margin-top:20px;
  background-color:rgb(84, 186, 185);
  border:2px solid #35858B;
  box-shadow:0px 10px 10px 0px;
}
.profileImage img{
  width:250px;
  height:350px;
}
.companyDetails{
  margin-left:15%;
  width:60%;
  text-align:center;
  display:inline-block;
  justify-content:center;
}
/* video */
.videoContainer{
  width:98%;
  max-width:100%;
  height:100%;
  block-size:fit-content;
  margin-left:20px;
  /* border:2px solid red; */
}
.videoCard{
  /* border:2px solid yellow; */
  margin:20px 0px 0px 20px;
  float:left;
}
iframe{
  width:300px; 
  height:150px;
}
.videoContainer h4{
  text-align:center;
}
/* responsive */
